PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/iot_busbar
STATUS_ATTENTION_TEMP=70
STATUS_CRITICAL_TEMP=85
STATUS_ATTENTION_HUMIDITY=70
STATUS_CRITICAL_HUMIDITY=85
STATUS_ATTENTION_CURRENT=100
STATUS_CRITICAL_CURRENT=140
